#--- FOR LOCAL ONLY ---#
PYTHONPATH=/path/to/your/project
#--- FOR LOCAL ONLY ---#

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="your-project-name"
LANGSMITH_API_KEY="your_langsmith_api_key"

OPENAI_API_KEY=your_openai_api_key

TAVILY_API_KEY=your_tavily_api_key

USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36" 